@import "bootstrap/dist/css/bootstrap.min.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:rgb(6, 121, 52);
}
.card{
   width: 270px;
   height: 400px ;
   display: block;
   margin: auto;
   border-radius: 10px;
   font-size: 5rem;
   
}
.red{
    color: red;
}
 
.black{
    color: black;
}

.number{
    font-size: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-bottom-suit{
    position: absolute;
    bottom: 15px;
    right: 15px;
}
